.login-main {
  //background-color: teal;
  width: 100%;
  height: 100vh;

  .login-holder {
    display: relative;
    //background-color: red;
    padding: 15px 10px;
    width: 100%;
    border: black solid 3px;
    top: 50%;
    transform: translateY(50%);

    .content-before::before {
      content: 'asdf';
    }

    .example-container {
      display: flex;
      flex-direction: column;
      float: none;
      margin: 0 auto;
    }

    .example-container > * {
      width: 100%;
    }

    .or {
      margin: 15px auto;
    }

    .submit-button {
      margin: 0 10px;
    }
    .label-center {
      margin: 0 auto;
    }
    
    .google-icon {
      -webkit-transform: translateY(-8px) translateX(-5px);
      -moz-transform: translateY(-8px) translateX(-5px);
      -ms-transform: translateY(-8px) translateX(-5px);
      -o-transform: translateY(-8px) translateX(-5px);
      transform: translateY(-8px) translateX(-5px);
    }
  }
}
